.projects {
  .filters {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: .75rem;
    margin-bottom: 2rem;
  }

  .filter__item {
    cursor: pointer;
    color: white;
    padding: .25rem .75rem;
    font-weight: 800;
    border-radius: .5rem;
  }

  project__container {
    padding-top: 1rem;
  }

  project__card {
    background-color: gray;
    padding: 1rem;
    border-radius: 1rem;
  }

  .project__img {
    border-radius: 1rem;
    margin-bottom: .75rem;
  }

  .project__title {
    font-size: 20px;
    font-weight: 600;
    margin-bottom: .25rem;
  }

  .project__button {
    width: max-content;
    color: black;
    font-size: 16px;
    display: flex;
    align-items: center;
    column-gap: .25rem;
  }

  .project__button:hover .project__icon {
    transform: translateX(1rem);
  }

  project__icon {
    font-size: 19px;
    transition: 0.4s;
  }
}