.project__card {
  background-color: gray;
  border-radius: 0.5rem;
  overflow: hidden;

  .project__img {
    width: 100%;
    margin-bottom: .75rem;
  }

  .info-container {
    padding: 0 1rem 1rem 1rem;
  }

  .project__title {
    font-size: 20px;
    font-weight: 600;
    margin-bottom: .25rem;
  }
}