// Global
@import './variables';
// pages
@import './pages/Home/home';
@import './pages/About/about';
// components
@import './components/Navbar/navbar';
@import './components/Slidebar/slidebar';
@import './components/Hero/hero';
@import './components/About/about';
@import './components/Projects/projects';
@import './components/Footer/footer';

.relative-section {
  width: 100%;
  position: relative;
  top: 70px;
}

.section {
  padding: $sectionPadding;
  width: 100%;
}