@import './variables';
@import './pages/Home/home';
@import './components/Navbar/navbar';

.relative-section {
  width: 100%;
  position: relative;
  top: 70px;
}

.section {
  padding: $sectionPadding;
  width: 100%;
}