// COLORS
$primaryColor: white;
$secondaryColor: #ababab;
$cardSecondaryColor: #444;
$sectionWidth: 8%;
$sectionPadding: 0 $sectionWidth;

// RESPONSIVENESS
$sSize: 550px;
$mSize: 750px;
$lSize: 1000px;